body {
  background: url("https://ericscrum.github.io/medhacks2017/img/pharmacy_background.png");
  background-size: cover;
  cursor: default;
}

.title {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-family: Montserrat;
  font-size: 4em;
}

.subtitle {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  font-family: Montserrat;
  font-size: 1.5em;
}

.entrance {
  position: fixed;
  height: 10%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.viewbutton {
  height: 100%;
  width: 25%;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content:center;
  color: black;
}

.nurse {
  float: left;
  background-color: #F0F8FF;
  border: 2px solid #0099CC;
}

.pharmacy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5FFFA;
  border: 2px solid #00CC99;
}

.analytics {
  float: right;
  background-color: #F5F5F5;
  border: 2px solid #DCDCDC;
}

.viewbutton:hover {
  background-color: #DCDCDC;
}
