body {
  background: url("https://ericscrum.github.io/medhacks2017/img/pharmacy_background.png");
  background-size: cover;
}
.title {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-family: Montserrat;
  font-size: 3em;
}

.subtitle {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);

  font-family: Montserrat;
  font-size: 2em;
}

.patientlist {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  height: 70%;
  width: 60%;

  overflow: scroll;
}

.patient {
  position: relative;
  height: 15%;
  width: auto;
  margin-bottom: 1%;

  left: 50%;
  transform: translateX(-50%);

  background-color: #F5F5F5;
  border-radius: 5px;
  border: 2px solid #0099CC;

  display: flex;
  align-items: center;
}

.patient:hover {
  background-color: #DCDCDC;
}
